[submodule "submodule-path"]
    path = /home/satyam/Satyam/Satyam/Zapier/solanap
  
[submodule "/home/satyam/Satyam/Satyam/Zapier/solanap"]
	url = https://github.com/CleverProgrammers/solana-todo-app.git
